#events .event {
    width: 100%;
    float: none;
}

#events .event .content {
position: relative;
bottom: auto;
top: 0;
background-color: transparent;
padding: 0;
}

#events h2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
}

#event-list,
#clock {
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: border-box;
    box-sizing: border-box;
    margin: 1rem;
}

#event-list {
    margin: 1rem 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
}

#event-list li {
    margin: 0 0 0.90em;
}
#mbig{
    margin: 0 0 0.90em;
}

#event-list .date {
    font-weight: 100;
}

#clock {
    margin: 0 0 1rem;
}

#clock .label {
    font-size: 76%;
    text-transform: uppercase;
    background: rgba(37, 17, 8, 0.7);
    padding: 0.25em 1rem;
    text-align: center;
}

#current-date {
    font-size: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem 1rem;
    text-align: left;
}

#current-time {
    font-size: 200%;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    text-align: left;
}

#current-date + #current-time {
	padding-top: 0;
}

.trans {
    color: transparent;
}

@media (min-width: 700px) {
    #event-list,
    #clock {
        display: inline-block;
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-shadow: border-box;
        box-sizing: border-box;
        padding: 2rem;
    }
    
    #event-list {
       margin: 1rem;
    }
    
    #clock {
       margin: 0 0 1rem;
       min-width: 12em;
    }
    
    #clock .label {
        padding: 0.25em 0.5em;
    }
    
    #current-time,
    #current-date {
        text-align: center;
    }
    /*.form button:hover,.form button:active{
        background: #43A047;
    }*/
    .form .message{
        margin: 15px 0 0;
        color: #43A047;
        font-size: 12px;
    }
    .register-form{
        display: none;
    }

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover, .form button: active{
    background: #43A047;
}
.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}
.form .message a{
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form{
    display: none;
}
}